<div [class]="containerClasses()" class="p-6 rounded-2xl border transition-all shadow-xl group min-h-50">
  <div class="flex justify-between items-start mb-4">
    <div>
      <p class="text-slate-400 text-xs uppercase tracking-[0.2em] mb-1">{{ config().label }}</p>
      @if (type() === 'KPI' || type() === 'STATUS') {
        <h2 [class]="valueClasses()" class="text-4xl font-black tabular-nums">
          {{ config().value }}
        </h2>
      }
    </div>

    @if (config().colorScheme === 'emerald') {
      <div class="w-3 h-3 bg-emerald-500 rounded-full animate-pulse mt-2"></div>
    }
  </div>

  <div class="mt-4">
    <ng-content></ng-content>
  </div>

  @if (config().trend) {
    <p
      [class]="config().trend?.isPositive ? 'text-emerald-400' : 'text-rose-400'"
      class="text-[10px] mt-2 font-bold"
    >
      {{ config().trend?.isPositive ? '▲' : '▼' }} {{ config().trend?.value }}% FROM LAST WEEK
    </p>
  }
</div>
