@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';
@import '../src/app/shared/styles/index.css';

.map-container {
  height: 400px;
  width: 100%;
  border-radius: 1rem;
}

.drawer-panel {
  display: flex;
  justify-content: flex-end;
  pointer-events: auto !important;
}

/* Si usas el backdrop del CDK, asegúrate de que se vea */
.drawer-backdrop-portal {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.bg-slate-core__40{
  background-color: rgba(15, 23, 42, 0.4);
}
